<div class="flex flex-col">
  <div id="image-section">
    <div class="overlay"></div>
    <h1
      class="text-3xl font-semibold text-center text-white px-6 py-7 md:text-5xl"
    >
      Create Your Notes at Ease
    </h1>
    <app-search></app-search>
  </div>

  <div class="container flex justify-center mx-auto p-3 my-7 max-w-md">
    <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
      <li class="py-3 sm:pb-4 shadow-lg shadow-blue-100 px-5">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8 text-slate-500"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
              />
            </svg>
          </div>
          <div class="flex-1">
            <p
              class="text-lg font-medium text-gray-900 truncate dark:text-white"
            >
              Neil Sims
            </p>
          </div>
          <div
            class="inline-flex items-center text-2xl cursor-pointer font-semibold text-red-600 dark:text-white"
          >
            &times;
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
