<div class="flex flex-col">
  <div id="image-section">
    <div class="overlay"></div>
    <h1
      class="text-3xl font-semibold text-center text-white px-6 py-7 md:text-5xl"
    >
      Create Your Notes at Ease
    </h1>
    <div class="flex justify-center my-4 relative w-full">
      <input
        type="search"
        placeholder="search item ..."
        class="bg-white text-center py-2 px-2 outline-blue-300 rounded-full w-full max-w-xs md:max-w-lg md:px-3 md:py-2"
      />
      <button
        class="absolute text-slate-700 py-1 px-3 left-[18%] mt-1 rounded-full md:left-[30%]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
